.container {
  max-width: 1437px;
  margin: auto;
}

.web {
  display: none !important;
}

.mobile {
  display: block !important;
}

@media screen and (min-width: 960px) {
  .mobile {
    display: none !important;
  }

  .web {
    display: block !important;
  }
}
